@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.main-header {
    width: 100%;
    height: 3.125em;
    background-color: #f3f3f3;
    color: var(--clr2);
    box-shadow: 0px 2px 0px 0px #E5E5E5;
    padding-inline: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
}

li {
    padding-inline: 1em;
}

li>.active {
    color: var(--clr4);
}

.logo-title {
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    nav {
        position: sticky;
    }

    .nav-bar-mobile {
        align-items: center;
        color: whitesmoke;
        top: 0;
    }

    .nav-bar-mobile {
        position: fixed;
        background-color: #ff9826;
        width: 100vw;
        height: 100vh;
    }
    
    ul {
        flex-direction: column;
        right: 0;
        justify-content: space-evenly;
    }
    
    a {
        margin-block-start: 3.5em;
        color: whitesmoke;
    }
    li {
        text-align: center;
        padding-inline: 0em;
    }

    li:nth-of-type(2)::after {
        content: '';
        position: absolute;
        inset-block: 13em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2em;
        color: #E5E5E5;
        border-block: 1px solid white;
    }

    .nav-btn {
        font-size: 1.3em;
        z-index: 1;
    }
}